.card-group
{
    
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
}



.card
{
    margin-top: 0.01vh;
    background-color:#228660;
}

.card-specific {
    background-color:#228660;
    /* margin-top: 30vh;
    margin-left: 30vh; */
    flex-grow: 1;
    max-height: 120px;
    max-width: 400px;
    height: min-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    background-color: hsl(17, 60%, 33%); /* Green */
    border: none;
    border-color:rgb(148, 28, 28) ;

    color: rgb(148, 28, 28);
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
.image
{
    align-items: center;
}

.image-card {
    display: flex;
    align-items: center;
}

/* .scrollabletextbox {
    height:100px;
    width:200px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 82%;
    overflow:scroll;
} */

.contact
{
    border-color: aqua;
}
.appointment
{
   block-size:30px;
   border-block-width: 100px;
   width: 360px;
   height: 40px;
}