.card-deck
{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
}

.button-card {
    background-color: #43d9cf;
    flex-grow: 1;
    max-height: 400px;
    height: min-content;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    background-color: #fff;
    flex-grow: 1;
    max-height: 200px;
    height: min-content;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}